{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>{{blog.title}}</h1>
{% if blog.writer %}
    {% if 'user' in blog.writer.username %}
        <h3>작성자 : {{ blog.writer.last_name }} {{ blog.writer.first_name }}</h3>
    {% else %}
        <h3>작성자 : {{ blog.writer }}</h3>
    {% endif %}
{% else %}
<h3>작성자 : 알 수 없음</h3>
{% endif %}

날짜 : {{blog.pub_date}}
<hr>
{% if blog.image %}
<p><img src="{{blog.image.url}}" alt="사진"></p>
{% endif %}
<p>{{blog.body}}</p>

    
<a href="{% url 'main:edit' blog.id %}">수정하기</a>
<a href="{% url 'main:delete' blog.id %}">삭제하기</a>
<br><br>
<div>
    <form action="{%url 'main:create_comment' blog.id%}" method="POST">
        {%csrf_token%}
        <textarea name="content" placeholder="댓글내용입력"></textarea>
        <input type="submit" value="확인">
    </form>
</div>

<div>
    {% for comment in comments %}
        <div>
        작성자 : {{comment.writer}}
        {{comment.content}}
        <br><hr>
        </div>
    {% endfor %}
</div>
    

<hr>
<h5><a href="{% url 'main:posts' %}">목록</a></h5>
{% endblock %}