{% extends 'base.html' %} 

{% block content %}
    <div>
        {% for post in posts %}
        <div>
            <h3 >{{post.title}}</h3>
            {{post.writer}}<br>
            {{post.summary}}
            <a href="{% url 'detail' post.id %}">자세히</a>
            <br>
        </div>
        {% endfor %}
    </div>

    <div class = "mainbox">
        <h1 class= "jua">한주아 자기소개</h1>
        <p>🦁멋쟁이 사자처럼 10기🦁</p>
        <section>
            <div class="collapse" id="collapseExample">
                <div class="card card-body" style="width: fit-content;">
                    초등학교 : 칠성초등학교 / 특이사항 : 단발이었음.<br>중학교   : 경명여자중학교 / 특이사항 : 교복치마 교칙이 무릎 아래 5cm정도였음.<br>고등학교 : 경명여자고등학교 / 별명 : 잡슨<br>대학교 : 동국대학교 멀티미디어공학과
                </div>
                <br>
            </div>
            
            <h2>학력</h2>
            <p class="about-me-text">
                초등학교 : 칠성초등학교 / 특이사항 : 단발이었음.<br>중학교   : 경명여자중학교 / 특이사항 : 교복치마 교칙이 무릎 아래 5cm정도였음.<br>고등학교 : 경명여자고등학교 / 별명 : 잡슨<br>대학교 : 동국대학교 멀티미디어공학과
            </p>
            <h2>MBTI</h2>
            <p class="about-me-text">
                ENTP<br>E: E중에 가장 I인 유형이라 혼자 잘 논다. <br>N: 파워 N이라서 생각을 멈출 수 없다. <br>T: 분명 고1때는 F였는데 고2부터 T가 되었고 돌아오지 않는 중.... <br>P: P랑J는 반반이라 주변 사람들에게 맞추는 편!
            </p>
            <h2>취미</h2>
            <p class="about-me-text">
                밴드| 중학교 Magnolia 키보드 , 고등학교 Youth 키보드 , 대학교 뭉게구름<br>운동| 태권도 3품,복싱,댄스
            </p>
            
            <h2>좌우명</h2>
            <h3>"나 자신을 한계 짓지 말자"</h3>

            <h2>인스타그램</h2>
            <br>
            <div class="card" style="width: 120px; border: none;">
                <a href="https://www.instagram.com/jua_life/" target="_blank" style="text-decoration: none;"><img class="card-img-top" src="https://t1.daumcdn.net/cfile/tistory/99B6AB485D09F2132A" width="10%"></a>
                <div class="card-body">
                  <h5 class="card-title">@jua_life</h5>
                </div>
            </div>
            
        </section>
    </div>

{% endblock %}